 
    

  <div class="content-wrapper" id="seccion1">
    
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <center><strong>Bienvenido!</strong> Usted ingreso a su Ficha Personal.</center>
    </div>
    
    <!--==========================================
                   Informacion LAboral
===========================================-->


    {{partial 'informacion-laboral/entrenamiento'}} 
    {{partial 'informacion-laboral/exp-laboral'}} 
    {{partial 'informacion-laboral/vacaciones'}} 

    </div>   


    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Modal -->
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">    
    {{partial 'educacion/formulario-bachiller'}}
  </div>
</div> --}}


