
 

<!--==========================================
                   Vacaciones
===========================================-->
   

    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-suitcase"></i>Historial Vacaciones</h4>
        </div>

        <div id="timeline-experience">
                {{#each webapidataH as |item|}} 
                <!-- FIRST TIMELINE -->
                <div class="timeline-block">
                    <!-- Circulo con la primer Letra  -->
                    {{!-- <div class="timeline-dot"><h6>Letra</h6></div> --}}
                
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                           
                            <!-- TIMELINE TITLE -->                            
                            <h5 class="text-uppercase">Gestion {{item.Gestion}}</h5>
                            <hr id="linea2">

                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">                                                                                     
                                                                
                                <h6>
                                    Total Dias: <small>{{item.TotalDias}}</small>
                                </h6>
                                <h6>
                                    Dias Usados: <small>{{item.DiasUdados}}</small>
                                </h6>
                                <h6>
                                    Saldo Dias: <small>{{item.SaldoDias}}</small>
                                </h6>
                                
                            </div>
                            
                            {{!-- <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a> --}}
                        </div>
                    </div>
                </div>
                {{/each}}                              
        </div>
    </div>




